@font-face {
    font-family: "Halyard-Display";
    src: url("../fonts/Halyard-Display-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Halyard-Display";
    src: url("../fonts/Halyard-Display-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Halyard-Text";
    src: url("../fonts/Halyard-Text-Regular.woff") format("woff");
    font-weight: 400;
}

